In [134]:
import pandas as pd

In [135]:
df1 = pd.read_csv('tableau_1.csv', sep = ';')
df1.head()

C:\Users\MANEL\AppData\Local\Temp\ipykernel_9392\3133502375.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('tableau_1.csv', sep = ';')

,Niveau,ZONE,ANNEE,PATHOLOGIE,SEXE,Tranche d'age,ind_freq
0,Départements,01 - Ain,2018,01000-Maladies infectieuses et parasitaires,Homme,00-Moins d'un an,120
1,Départements,01 - Ain,2018,01000-Maladies infectieuses et parasitaires,Femme,00-Moins d'un an,103
2,Départements,01 - Ain,2018,01000-Maladies infectieuses et parasitaires,Ensemble,00-Moins d'un an,223
3,Départements,01 - Ain,2018,01000-Maladies infectieuses et parasitaires,Homme,01-1 à 4 ans,167
4,Départements,01 - Ain,2018,01000-Maladies infectieuses et parasitaires,Femme,01-1 à 4 ans,134

In [136]:
df1.shape

(3911688, 7)

In [137]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3911688 entries, 0 to 3911687
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   Niveau         object
 1   ZONE           object
 2   ANNEE          int64
 3   PATHOLOGIE     object
 4   SEXE           object
 5   Tranche d'age  object
 6   ind_freq       object
dtypes: int64(1), object(6)
memory usage: 208.9+ MB

In [138]:
df1.isna().sum()

Niveau           0
ZONE             0
ANNEE            0
PATHOLOGIE       0
SEXE             0
Tranche d'age    0
ind_freq         0
dtype: int64

In [139]:
#rassemblement par departements, régions et nationale
df1_dep = df1[df1['Niveau']=='Départements']
df1_reg = df1[df1['Niveau']=='Régions']
df1_fr = df1[df1['Niveau']== 'France']

In [140]:
df1_dep.tail(100)

,Niveau,ZONE,ANNEE,PATHOLOGIE,SEXE,Tranche d'age,ind_freq
3265028,Départements,973 - Guyane,2022,99000-TOTAL TOUTES CAUSES,Ensemble,02-5 à 14 ans,2553
3265029,Départements,973 - Guyane,2022,99000-TOTAL TOUTES CAUSES,Homme,03-15 à 24 ans,1537
3265030,Départements,973 - Guyane,2022,99000-TOTAL TOUTES CAUSES,Femme,03-15 à 24 ans,5465
3265031,Départements,973 - Guyane,2022,99000-TOTAL TOUTES CAUSES,Ensemble,03-15 à 24 ans,7002
3265032,Départements,973 - Guyane,2022,99000-TOTAL TOUTES CAUSES,Homme,04-25 à 34 ans,1660
...,...,...,...,...,...,...,...
3265123,Départements,976 - Mayotte,2022,99000-TOTAL TOUTES CAUSES,Femme,10-85 ans et plus,44
3265124,Départements,976 - Mayotte,2022,99000-TOTAL TOUTES CAUSES,Ensemble,10-85 ans et plus,129
3265125,Départements,976 - Mayotte,2022,99000-TOTAL TOUTES CAUSES,Homme,11-Tous âges confondus,10063
3265126,Départements,976 - Mayotte,2022,99000-TOTAL TOUTES CAUSES,Femme,11-Tous âges confondus,22559
3265127,Départements,976 - Mayotte,2022,99000-TOTAL TOUTES CAUSES,Ensemble,11-Tous âges confondus,32622

In [141]:
df1_dep.isna().sum()

Niveau           0
ZONE             0
ANNEE            0
PATHOLOGIE       0
SEXE             0
Tranche d'age    0
ind_freq         0
dtype: int64

In [142]:
# on retire les totaux et les ensembles
df1_dep_filt = df1_dep[~df1_dep.PATHOLOGIE.str.contains('TOTAL') 
                       & df1_dep['Tranche d\'age'].str.contains('Tous âges confondus') 
                       & ~df1_dep['SEXE'].str.contains('Ensemble')]

In [143]:
df1_dep_filt.isna().sum()

Niveau           0
ZONE             0
ANNEE            0
PATHOLOGIE       0
SEXE             0
Tranche d'age    0
ind_freq         0
dtype: int64

In [144]:
df1_dep_filt_toutage = df1_dep_filt[['ZONE', 'ANNEE', 'PATHOLOGIE', 'SEXE', 'Tranche d\'age','ind_freq']]

In [145]:
df1_dep_filt_toutage.isna().sum()

ZONE             0
ANNEE            0
PATHOLOGIE       0
SEXE             0
Tranche d'age    0
ind_freq         0
dtype: int64

In [146]:
df1_dep_filt_toutage['ind_freq'].dtype

dtype('O')

In [147]:
df1_dep_filt_toutage.to_csv('tou_age_test.csv')

In [148]:
df1_dep_filt_toutage.isna().sum()

ZONE             0
ANNEE            0
PATHOLOGIE       0
SEXE             0
Tranche d'age    0
ind_freq         0
dtype: int64

In [149]:
df1_dep_filt_toutage['ind_freq'] = pd.to_numeric(
    df1_dep_filt_toutage['ind_freq'],
    errors='coerce'   # met NaN si ce n'est pas convertible
)

C:\Users\MANEL\AppData\Local\Temp\ipykernel_9392\1022699958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_dep_filt_toutage['ind_freq'] = pd.to_numeric(

In [150]:
duplicate = df1_dep_filt_toutage.duplicated()
df1_dep_filt_toutage[duplicate]

Empty DataFrame
Columns: [ZONE, ANNEE, PATHOLOGIE, SEXE, Tranche d'age, ind_freq]
Index: []

In [151]:
df1_dep_filt_toutage.isna().sum()

ZONE              0
ANNEE             0
PATHOLOGIE        0
SEXE              0
Tranche d'age     0
ind_freq         74
dtype: int64

In [159]:
df1_dep_filt_toutage.to_csv(
    "mon_fichier_debug.csv",
    index=False,
    na_rep="NaN"   # <--- force l’écriture "NaN"
)

In [152]:
# !test! regroupement par maladie pour connaitre le nombre total de pathologies
df1_patho = df1_dep_filt_toutage[['PATHOLOGIE']]
test = df1_patho.groupby(['PATHOLOGIE'])
test.size()
# Nous avons moins de lignes pour la covid-19 car les premiers cas sont arrivés en 2020
# 179 pathologies à partir de 2020 et 178 avant

PATHOLOGIE
01000-Maladies infectieuses et parasitaires    1010
01001-Maladies intestinales infectieuses       1010
01002-Tuberculose                              1010
01003-Septicémies                              1010
01004-Mal.sexuellement transmissibles          1010
                                               ...
21155-Radiothérapie                            1010
21156-Chimiothérapie pour tumeur               1010
21157-Surveil.post traitement med.ou chir.     1010
21158-Recours raison économique ou sociale     1010
22000-Infection à la Covid-19                   606
Length: 179, dtype: int64

In [153]:
pivot = df1_dep_filt_toutage.pivot_table(
    index="ZONE",
    columns=["ANNEE", "SEXE", "PATHOLOGIE", "Tranche d\'age"],
    values="ind_freq",
    aggfunc="sum"
)

In [154]:
pivot.transpose()

ZONE                                                                            01 - Ain  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus     974.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus     503.0
            01002-Tuberculose                           11-Tous âges confondus      16.0
            01003-Septicémies                           11-Tous âges confondus      99.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus      51.0
...                                                                                  ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus      47.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus     762.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus    4069.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus      84.0
            22000-Infection à la Covid-19               11-Tous âges confondus    1100.0

ZONE                                                                            02 - Aisne  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus      1168.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus       471.0
            01002-Tuberculose                           11-Tous âges confondus        15.0
            01003-Septicémies                           11-Tous âges confondus       162.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus        55.0
...                                                                                    ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus        77.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus       387.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus      4148.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus       171.0
            22000-Infection à la Covid-19               11-Tous âges confondus      1174.0

ZONE                                                                            03 - Allier  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus        905.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus        490.0
            01002-Tuberculose                           11-Tous âges confondus         13.0
            01003-Septicémies                           11-Tous âges confondus         72.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus         38.0
...                                                                                     ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus         52.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus        389.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus       2422.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus         82.0
            22000-Infection à la Covid-19               11-Tous âges confondus        678.0

ZONE                                                                            04 - Alpes-de-Haute-Provence  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus                         269.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus                          75.0
            01002-Tuberculose                           11-Tous âges confondus                           5.0
            01003-Septicémies                           11-Tous âges confondus                          64.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus                          17.0
...                                                                                                      ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus                          34.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus                         182.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus                        1932.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus                          17.0
            22000-Infection à la Covid-19               11-Tous âges confondus                         481.0

ZONE                                                                            05 - Hautes-Alpes  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus              256.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus              139.0
            01002-Tuberculose                           11-Tous âges confondus                0.0
            01003-Septicémies                           11-Tous âges confondus               20.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus               12.0
...                                                                                           ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus               37.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus              138.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus             1065.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus               22.0
            22000-Infection à la Covid-19               11-Tous âges confondus              355.0

ZONE                                                                            06 - Alpes-Maritimes  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus                1899.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus                 946.0
            01002-Tuberculose                           11-Tous âges confondus                  25.0
            01003-Septicémies                           11-Tous âges confondus                 176.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus                 117.0
...                                                                                              ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus                 140.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus                1149.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus                7136.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus                 204.0
            22000-Infection à la Covid-19               11-Tous âges confondus                2259.0

ZONE                                                                            07 - Ardèche  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus         605.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus         291.0
            01002-Tuberculose                           11-Tous âges confondus           9.0
            01003-Septicémies                           11-Tous âges confondus          68.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus          51.0
...                                                                                      ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus          94.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus         586.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus        2982.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus          54.0
            22000-Infection à la Covid-19               11-Tous âges confondus         781.0

ZONE                                                                            08 - Ardennes  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus          620.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus          303.0
            01002-Tuberculose                           11-Tous âges confondus            5.0
            01003-Septicémies                           11-Tous âges confondus           28.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus           14.0
...                                                                                       ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus           15.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus          389.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus         1781.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus           27.0
            22000-Infection à la Covid-19               11-Tous âges confondus          534.0

ZONE                                                                            09 - Ariège  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus        294.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus        158.0
            01002-Tuberculose                           11-Tous âges confondus          3.0
            01003-Septicémies                           11-Tous âges confondus         33.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus          6.0
...                                                                                     ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus         27.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus        243.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus       1131.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus         14.0
            22000-Infection à la Covid-19               11-Tous âges confondus        303.0

ZONE                                                                            10 - Aube  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus      460.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus      197.0
            01002-Tuberculose                           11-Tous âges confondus        3.0
            01003-Septicémies                           11-Tous âges confondus       40.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus       33.0
...                                                                                   ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus       19.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus      439.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus     2515.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus       62.0
            22000-Infection à la Covid-19               11-Tous âges confondus      441.0

ZONE                                                                            ...  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age           ...
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus  ...
            01001-Maladies intestinales infectieuses    11-Tous âges confondus  ...
            01002-Tuberculose                           11-Tous âges confondus  ...
            01003-Septicémies                           11-Tous âges confondus  ...
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus  ...
...                                                                             ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus  ...
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus  ...
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus  ...
            21158-Recours raison économique ou sociale  11-Tous âges confondus  ...
            22000-Infection à la Covid-19               11-Tous âges confondus  ...

ZONE                                                                            91 - Essonne  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus        2231.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus        1036.0
            01002-Tuberculose                           11-Tous âges confondus          77.0
            01003-Septicémies                           11-Tous âges confondus         210.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus          89.0
...                                                                                      ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus         167.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus        1442.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus        6807.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus         183.0
            22000-Infection à la Covid-19               11-Tous âges confondus        1809.0

ZONE                                                                            92 - Hauts-de-Seine  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus               2635.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus               1168.0
            01002-Tuberculose                           11-Tous âges confondus                 96.0
            01003-Septicémies                           11-Tous âges confondus                278.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus                126.0
...                                                                                             ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus                186.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus               1560.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus               7745.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus                251.0
            22000-Infection à la Covid-19               11-Tous âges confondus               2043.0

ZONE                                                                            93 - Seine-Saint-Denis  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus                  3428.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus                  1678.0
            01002-Tuberculose                           11-Tous âges confondus                   168.0
            01003-Septicémies                           11-Tous âges confondus                   319.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus                   124.0
...                                                                                                ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus                   138.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus                  1251.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus                 10227.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus                   163.0
            22000-Infection à la Covid-19               11-Tous âges confondus                  2053.0

ZONE                                                                            94 - Val-de-Marne  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus             2460.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus             1048.0
            01002-Tuberculose                           11-Tous âges confondus              100.0
            01003-Septicémies                           11-Tous âges confondus              284.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus               91.0
...                                                                                           ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus              188.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus             1403.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus             7650.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus              141.0
            22000-Infection à la Covid-19               11-Tous âges confondus             2007.0

ZONE                                                                            95 - Val-d'Oise  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus           2333.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus           1179.0
            01002-Tuberculose                           11-Tous âges confondus             95.0
            01003-Septicémies                           11-Tous âges confondus            209.0
            01004-Mal.sexuellement transmissibles       11-Tous âges confondus             86.0
...                                                                                         ...
2022  Homme 21155-Radiothérapie                         11-Tous âges confondus             86.0
            21156-Chimiothérapie pour tumeur            11-Tous âges confondus           1094.0
            21157-Surveil.post traitement med.ou chir.  11-Tous âges confondus           7439.0
            21158-Recours raison économique ou sociale  11-Tous âges confondus            146.0
            22000-Infection à la Covid-19               11-Tous âges confondus           1620.0

ZONE                                                                            971 - Guadeloupe  \
ANNEE SEXE  PATHOLOGIE                                  Tranche d'age
2018  Femme 01000-Maladies infectieuses et parasitaires 11-Tous âges confondus             488.0
            01001-Maladies intestinales infectieuses    11-Tous âges confondus             168.0
            01002-Tuberculose                           11-Tous âges confondus               9.0

In [155]:
pivot.to_csv('pivot.csv')

In [156]:
df2 = pd.read_csv('tableau_2.csv', sep =';')
df2.head()

,Niveau,Données,ANNEE,PATHOLOGIE,ZONE,<24h hospitalisations programmées,<24h autres hospitalisations,<24h ensemble des hospitalisations,1 jour,2 jours,...,5 jours,6 jours,7 jours,8 jours,9 jours,10 à 19 jours,20 à 29 jours,30 jours et plus,Ensemble des hospitalisations,Durée moyenne de séjour (en jours)
0,Départements,Nombre de séjours,2018,01000-Maladies infectieuses et parasitaires,01 - Ain,282,15,297,441,283,...,117,92,83,72,58,257,57,27,2164,5.95
1,Départements,Nombre de séjours,2018,01001-Maladies intestinales infectieuses,01 - Ain,110,4,114,310,173,...,47,31,23,23,13,55,10,2,1005,3.65
2,Départements,Nombre de séjours,2018,01002-Tuberculose,01 - Ain,0,0,0,0,6,...,0,5,0,0,3,10,7,1,44,11.38
3,Départements,Nombre de séjours,2018,01003-Septicémies,01 - Ain,9,6,15,10,18,...,15,14,12,14,13,79,20,13,256,11.24
4,Départements,Nombre de séjours,2018,01004-Mal.sexuellement transmissibles,01 - Ain,114,0,114,8,0,...,0,0,0,0,0,0,0,0,126,2.75

In [157]:
df2.shape

(108900, 22)

In [158]:
df3 = pd.read_csv('tableau_3.csv', sep=';')
df3.head()

,Niveau,SEXE,PATHOLOGIE,ANNEE,ZONE,Moins d'un an,1 à 4 ans,5 à 14 ans,15 à 24 ans,25 à 34 ans,35 à 44 ans,45 à 54 ans,55 à 64 ans,65 à 74 ans,75 à 84 ans,85 ans et plus,Taux brut tous âges(en 0/00),Taux standardisé tous âges (en 0/00),Indice comparatif tous âges (en 0/0)
0,Départements,Homme,01000-Maladies infectieuses et parasitaires,2018,01 - Ain,35.33,9.86,1.98,1.9,1.83,1.48,1.83,3.09,4.43,11.25,18.22,3.73,3.88,92.57
1,Départements,Femme,01000-Maladies infectieuses et parasitaires,2018,01 - Ain,31.94,8.51,1.48,1.72,1.55,0.95,1.14,2.33,2.5,6.44,13.51,2.97,2.85,85.09
2,Départements,Ensemble,01000-Maladies infectieuses et parasitaires,2018,01 - Ain,33.68,9.21,1.74,1.81,1.69,1.21,1.49,2.7,3.43,8.56,15.03,3.34,3.33,89.22
3,Départements,Homme,01000-Maladies infectieuses et parasitaires,2018,02 - Aisne,30.98,13.48,2.26,2.3,2.76,2.39,2.57,3.76,5.64,9.36,19.55,4.51,4.53,110.42
4,Départements,Femme,01000-Maladies infectieuses et parasitaires,2018,02 - Aisne,30.06,11.2,2.26,3.3,2.75,1.73,1.9,2.82,3.54,8.34,17.04,4.27,3.96,118.72